<ion-view view-title="About me">
  <ion-content class="padding">
    <h2>About me</h2>
    <p><img ng-src="img/avatar.jpg"></p>
    <p>My name is <b>Jan Elznic</b>, I am 30 years old and I am doing software development for web and mobile platforms. My specialization
      is web frontend applications (HTML5, CSS3 and JavaScript). My first page I wrote in 1998. Ten years later (2008), I officially
      started my own business. I worked for several years as a freelancer, tried a full-time job for Czech and also some other
      European and American startups, medium-sized companies and big corporations. More about my professional career you can
      learn from my resumé (CV).
    </p>
    <p>In recent years I'm also interested in web usability (User eXperience) and the development
      of native mobile applications for Android, iOS, Windows Phone and Firefox OS. I love games of all kinds, Linux and Open
      Source - a few of my contributions to the world of open source can be found on my GitHub.
    </p>
    <p>
      My favourite activities at spare time: reading, time management, travel, cycling and skiing, theater, developer meetings.
    </p>
  </ion-content>
</ion-view>
